<h1>Users#index</h1>

<%= link_to 'new', new_user_path %><br>

Your IP address is: <%= @result.ip %><br>
Your lat is: <%= @result.latitude %><br>
Your lon is: <%= @result.longitude %><br>
Your coordinates are: <%= @result.coordinates %><br>
Your address is: <%= @result.address %><br>
<%= @result.postal_code %><br>
<%= @result.address %><br>

<%= @result.latitude %><br>
<%= @result.longitude %><br>
<%= @result.coordinates %><br>
<%= @result.address %><br>
<%= @result.city %><br>
<%= @result.state %><br>
<%= @result.state_code %><br>
<%= @result.postal_code %><br>
<%= @result.country %><br>
<%= @result.country_code %><br>

<!-- result.latitude - float
result.longitude - float
result.coordinates - array of the above two
result.address - string
result.city - string
result.state - string
result.state_code - string
result.postal_code - string
result.country - string
result.country_code - string -->