<h1>Users#index</h1>

<%= link_to 'new', new_user_path %><br>

Your IP address is: <%= @result.ip %><br>
Your lat is: <%= @result.latitude %><br>
Your lon is: <%= @result.longitude %><br>
Your coordinates are: <%= @result.coordinates %><br>
Your address is: <%= @result.address %><br>
<!-- http://freegeoip.net/{format}/{ip_or_hostname} -->
