<h1>Users#index</h1>

<%= link_to 'new', new_user_path %><br>

Your IP address is: <%= @result.ip %><br>
Your lat is: <%= @result.latitude %><br>
Your lon is: <%= @result.longitude %><br>
Your coordinates are: <%= @result.coordinates %><br>
Your address is: <%= @result.address %><br>
<%= @result.postal_code %><br>
<br>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@result.latitude}%2C#{@result.longitude}" %><br>


These are all methods for gem: <br>
<br>
result.latitude - float <br>
result.longitude - float <br>
result.coordinates - array of the above two <br>
result.address - string <br>
result.city - string <br>
result.state - string <br>
result.state_code - string <br>
result.postal_code - string <br>
result.country - string <br>
result.country_code - string <br>
